.idea/vcs.xml
.idea/exploration_unknown.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
Procfile.windows
__pycache__/app.cpython-39.pyc
dvelopment_notes
dvelopment_notes
dvelopment_notes
